style.
	* {
	box-sizing: border-box;
	}
	body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	}
	#main {
	display: flex;
	flex: 1;
	}
	#main > article {
	flex: 1;
	}
	#main > nav,
	#main > aside {
	flex: 0 0 20vw;
	background: white;
	}
	#main > nav {
	order: -1;
	}
	header, footer {
	background: #EDBBBB;
	height: 20vh;
	}
	header, footer, article, nav, aside {
	padding: 1em;
	}

	/*RESPONSIVE*/
	@media screen and (min-width: 576px) {
	#main {
	flex-direction: row;
	}
	#main > nav,
	#main > aside {
	flex: 0 0 20vw;
	}
	}
