doctype html
html(lang='en')
	head
		title ARTicle's blogfeed
	body
		body
		div
			ul
				li
					a(href='/') Home
				li
					a(href='account') Your profile
				li
					a(href='createpost') Create a new post
				li
					a(href='/') Log out