doctype html
html(lang='en')
	head
		title Create a new ARTicle post
	body
		body
		div
			ul
				li
					a(href='/') Home
				li
					a(href='account') Your profile
				li
					a(href='blogfeed') View all posts
				li
					a(href='/') Log out