extends layout

block content
	//- if user
	h1 Welcome to your ARTicle profile #{user.username}
	h3 Your email is: #{user.email}
	h3 Your password is: #{user.password}
	//- else
	//- 	p Please login to view your profile!